:root {
  --c-font: "Rubik", sans-serif;
  --c-navy-color: #325288;
  --c-border-color: #d8e3e7;
  --c-white-color: #fff;
  --c-shadow-color: #a5b4fc;
  --c-blue-color: #3b82f6;
  --c-text-color: #1f2937;
  --c-gray-color: #495464;
  --c-lightGray: #d1d5db;
  --c-gray-1: #6b7280;
  --c-red-color: #ef4444;
  --c-warn-color: #f59e0b;
  --c-main-size: 16px;
}
